body {
  height: 100vh;
  margin: 0;
  padding: 1rem;
  display: grid;
  place-items: center;
  font-family: system-ui;
}

h1 {
  border: 1px solid black;
  border-radius: 4px;
  background: white;
  padding: 1rem 2rem;
  text-align: center;
  position: relative; 
}

#copy {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}

#genbtn {
  margin-top: 1rem;
  background-color: rgb(64, 161, 161);
  border-radius: 4px;
  box-sizing: content-box;
  padding: 5px;
}

span {
  display: block;
  padding: 1rem;
  font-size: 1rem;
  font-weight: normal;
}

